.our-map svg *:not(.city_point) {
	pointer-events: none
}

.our-map svg g {
	pointer-events: all !important
}

@media (max-width: 1024px) {
	.our-map {
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-bottom: 0;
	}
}

.our-map {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	}

.our-map iframe {
	border: 0;
	border-radius: 10px;
	margin-top: 34px;
	}